.message-list {
    width: 95%;
    margin: 0 auto;
    border: 1px black;
    overflow-y: scroll;
    height: 75vh;
}

.message {
    background-color: #3366ff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.message-username {
    color: black;

}